<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/styles.css" rel="stylesheet">
  <title>Sixteen Squares</title>
</head>
<body onload="getImages()">

  <div class="header">
    <h1><span id="label">Tries: </span><span id="clicks">0</span></h1>
  </div>

  <section class="gameBoard">
    <div class="card" data-type="geese">
      <img class="image hide" src="img/geese.jpg"/>
      
    </div>
    <div class="card" data-type="geese">
      <img class="image hide" src="img/geese.jpg"/>
      
    </div>

    <div class="card" data-type="cat">
      <img class="image hide" src="img/cat.jpg"/>
    
    </div>
    <div class="card" data-type="cat">
      <img class="image hide" src="img/cat.jpg"/>
    
    </div>

    <div class="card" data-type="mountains">
      <img class="image hide" src="img/mountains.jpg"/>
    
    </div>
    <div class="card" data-type="mountains">
      <img class="image hide" src="img/mountains.jpg"/>
    
    </div>

    <div class="card" data-type="roses">
      <img class="image hide" src="img/roses.jpg"/>
    
    </div>
    <div class="card" data-type="roses">
      <img class="image hide" src="img/roses.jpg"/>
    
    </div>

    <div class="card" data-type="tree">
      <img class="image hide" src="img/tree.jpg"/>
    
    </div>
    <div class="card" data-type="tree">
      <img class="image hide" src="img/tree.jpg"/>
    
    </div>

    <div class="card" data-type="yosemite">
      <img class="image hide" src="img/yosemite.jpg"/>
    
    </div>
    <div class="card" data-type="yosemite">
      <img class="image hide" src="img/yosemite.jpg"/>
      
    </div>
    <div class="card" data-type="daisies">
      <img class="image hide" src="img/daisies.jpg"/>
    
    </div>
    <div class="card" data-type="daisies">
      <img class="image hide" src="img/daisies.jpg"/>
    
    </div>

    <div class="card" data-type="road">
      <img class="image hide" src="img/road.jpg"/>
    
    </div>
    <div class="card" data-type="road">
      <img class="image hide" src="img/road.jpg"/>
      
    </div>
  </section>

  <div class="footer">
    <a href="/"><button>Home</button></a>
  </div>

  <script src="js/scripts.js"></script>
</body>
</html>
