<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/styles.css" rel="stylesheet">
  <title>Twelve Squares</title>
</head>
<body>

  <div class="header">
    <h1><span id="label">Tries: </span><span id="clicks">0</span></h1>
  </div>
  <div>
    <h4 class="header">
      Images Loading...
    </h4>
  </div>
  <section class="gameBoard" id="gameBoard">
    <div class = 'card'></div>
    <div class = 'card'></div>
    <div class = 'card'></div>
    <div class = 'card'></div>
    <div class = 'card'></div>
    <div class = 'card'></div>
    <div class = 'card'></div>
    <div class = 'card'></div>
    <div class = 'card'></div>
    <div class = 'card'></div>
    <div class = 'card'></div>
    <div class = 'card'></div>
    <div class = 'card'></div>
    <div class = 'card'></div>
    <div class = 'card'></div>
    <div class = 'card'></div>
  </section>

  <!-- <div class="footer">
    <a href="/"><button>Home</button></a>
  </div> -->

  <!-- <script src="js/scripts.js"></script> -->
  <script src="js/sixteenSquares.js"></script>

</body>
</html>
