* {
  box-sizing: border-box;

}

.gameBoard {
  width: 500px;
  height: 500px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  border: 1px black solid;
  background-color: #C2B280;
}

.card:hover{
  background-color: #9c8e64
}

.image{
  width: 100%;
  height: 100%;
  position: absolute;
}

.hide{
  visibility: hidden;
}


.center{
    text-align: center;
}
